.idea/
assets/images/*.jpg
assets/images/*.png
assets/images/*.jpeg
main.exe
main
.env
go_build_github_com_BellZaph_banner_roulette_backend_cmd_app.exe
go_build_github_com_BellZaph_banner_roulette_backend_cmd_app